@import 'normalize.css'
@import 'mixin.styl'

*
    box-sizing  border-box
body
    background: url('/img/roade.jpg') no-repeat center/cover
    width 100vw
    height 100vh
    overflow hidden

h1
    color white
    text-align center